:root {
  --gray-1: rgba(51, 51, 51, 1);
  --gray-2: rgba(51, 51, 51, 0.9);
  --gray-3: rgba(51, 51, 51, 0.8);
  --gray-4: rgba(51, 51, 51, 0.7);
  --gray-5: rgba(51, 51, 51, 0.6);
  --gray-6: rgba(51, 51, 51, 0.5);
  --gray-7: rgba(51, 51, 51, 0.3);
  --gray-8: rgba(51, 51, 51, 0.2);
  --color-blue: rgb(0, 151, 219);
}

div, ul, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav > ul {
  width: 80%;
}
li {
  list-style: none;
}

nav {
  padding: 1rem;
  display: flex;
}

nav li {
  width: 4rem;
  height: 2rem;
  display: inline-block;
}

.important-1 {
  background-color: var(--gray-1);
}

.important-2 {
  background-color: var(--gray-2);
}

.important-3 {
  background-color: var(--gray-3);
}

.important-4 {
  background-color: var(--gray-4);
}

.important-5 {
  background-color: var(--gray-5);
}

.important-6 {
  background-color: var(--gray-6);
}

.important-7 {
  background-color: var(--gray-7);
}

.important-8 {
  background-color: var(--gray-8);
}

.search-box {
  width: 8rem;
  height: 2rem;
  width: 15%;
  float: right;
}

.hero-section {
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}

.hero-section div {
  border: 1px solid var(--color-blue);
  height: 100vh;
}

.hero-section div * {
  padding: .5em;
  margin: .5em;
}

.hero-section div a.important-3 {
  height: 3rem;
  width: 5rem;
  display: block;
}

.hero-section li,
.hero-section a.important-2,
.hero-section span.important-5 {
  display: inline-block;
}

.hero-section .important-5 {
  height: 1rem;
  width: 2rem;
}

.hero-section .important-2 {
  width: 5rem;
  height: 3.5rem;
}

.hero-section a.important-4,
.hero-section li.important-4
 {
  height: 2rem;
  width: 4rem;
}

.author-container > *,
.title-container > *,
.hero-section ul li {
  display: inline-block;
}